
<style>
    .uip-layout-container {
        outline: 1px dotted #000000;
        float: left;
        min-height: 30px;
        width: 100%;
    }

    .uip-layout-container:after {
        content: '';
        display: block;
        clear: both;
    }

    .uip-layout-container1 {
        min-height: 90px;
    }

    .uip-layout-header {
        background-color: rgb(204, 204, 204);
    }

    .uip-layout-footer {
        background-color: rgb(204, 204, 204);
    }

    .uip-layout-content {
        background-color: rgb(159, 197, 232);
    }

</style>

<div data-uip-layout-id='uip-layout-header' 
     data-uip-layout-style='float: left;min-height: 50px;width: 100%;border:0px' 
     class='uip-layout-container uip-layout-header'>
</div>
<div data-uip-layout-id='uip-layout-content1' 
     data-uip-layout-style='position:relative;float: left;min-height: 100px;width: 100%;border:0px' 
     class='uip-layout-container uip-layout-content' style='min-height:30px; width:100%'>
</div>
<div data-uip-layout-id='uip-layout-content2' 
     data-uip-layout-style='position:relative;float: left;min-height: 100px;width: 100%;border:0px' 
     class='uip-layout-container uip-layout-content' style='min-height:30px; width:100%'>
</div>

<div data-uip-layout-id='uip-layout-content3' 
     data-uip-layout-style='position:relative;float: left;min-height: 100px;width: 100%;border:0px' 
     class='uip-layout-container uip-layout-content' style='min-height:30px; width:100%'>
</div>
<div data-uip-layout-id='uip-layout-footer' 
     data-uip-layout-style='float: left;min-height: 50px;width: 100%;border:0px' 
     class='uip-layout-container uip-layout-footer'>
</div>